## Connecting to SQLite DB

In [15]:
import pandas as pd

# Load the data
df = pd.read_csv('../cleaned_data/cl_workouts.csv')

# Prepare the data
df['start'] = pd.to_datetime(df['start'], format='%Y-%m-%d %H:%M:%S%z', errors='coerce')
df['end'] = pd.to_datetime(df['end'], format='%Y-%m-%d %H:%M:%S%z', errors='coerce')
df = df.where(pd.notnull(df), None)

In [16]:
from sqlalchemy import create_engine

engine = create_engine('sqlite:///../cleaned_data/workouts.db', echo=False)
df.to_sql('workouts', con=engine, if_exists='replace', index=False)

402

In [17]:
# Verify the data by reading it back into pandas
query = "SELECT * FROM workouts WHERE name = 'Pool Swim'"
df_check = pd.read_sql(query, con=engine)

print(df_check.head())

                                     id       name  \
0  0EECFC30-8C27-4DE5-99BD-21AC34D4E3C2  Pool Swim
1  16903DC9-5084-4360-BF2B-E0DC2BC3A954  Pool Swim
2  2F255822-4D45-47E8-A82F-C8317407A194  Pool Swim
3  2950491C-9941-48DB-9190-AFDEC3A99A3B  Pool Swim
4  E6544A11-332A-408E-AE47-D07556CA3995  Pool Swim

                        start                         end     duration  \
0  2024-03-20 06:48:54.000000  2024-03-20 07:42:48.000000  3234.099973
1  2024-03-21 05:54:08.000000  2024-03-21 06:30:36.000000  2187.283221
2  2024-03-23 07:27:33.000000  2024-03-23 07:58:00.000000  1826.924003
3  2024-04-03 06:21:55.000000  2024-04-03 07:48:19.000000  5184.253516
4  2024-04-09 12:56:32.000000  2024-04-09 14:06:04.000000  4172.380848

  location  activeEnergyBurned_qty  distance_qty  lapLength_qty  \
0     Pool              281.940691      1.149537       0.031069
1     Pool              193.492531      0.714577       0.031069
2     Pool              183.379000      0.776714       0.031069
3     Pool              493.419549      1.988388       0.031069
4     Pool              425.166908      1.708771       0.031069

   intensity_qty  humidity_qty  temperature_qty
0       5.136677           NaN              NaN
1       5.217730           NaN              NaN
2       5.753222           NaN              NaN
3       5.492535           NaN              NaN
4       5.717704           NaN              NaN