## Connecting to SQLite DB

In [1]:
import sqlite3

conn = sqlite3.connect('example.db')
cursor = conn.cursor()

## Creating Tables

In [2]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS employees (
    id INTEGER PRIMARY KEY,
    name TEXT,
    age INTEGER,
    department TEXT
)
''')

conn.commit()

## Inserting Data

In [3]:
cursor.execute('''
INSERT INTO employees (name, age, department)
VALUES (?, ?, ?)
''', 
('Henry', 54, 'Leadership'))
conn.commit()

## Fetching Data

In [4]:
# # Fetch All
# cursor.execute('''SELECT * FROM employees''')
# rows = cursor.fetchall()
# for row in rows:
#     print(row)
# print("\n")
# Specific Conditions
cursor.execute('''SELECT * FROM employees WHERE department == 'HR' ''')
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Alice', 30, 'HR')
(2, 'Bob', 43, 'HR')

## Updating Data

In [50]:
cursor.execute('''
UPDATE employees
SET department = ?
WHERE name = ?
''', ('QA', 'Jane'))
conn.commit()

## Deleting Data

In [51]:
cursor.execute('''DELETE FROM employees WHERE name = ?''', ('Jane',))
conn.commit()

## Panda for SQL Queries

In [52]:
import pandas as pd

df = pd.read_sql_query("SELECT * FROM employees", conn)
print(df)

   id    name  age  department
0   1   Alice   30          HR
1   2     Bob   43          HR
2   3    Kobe   23    Software
3   4  Lebron   18   Athletics
4   5   Henry   54  Leadership
5   6   Henry   54  Leadership
6   7   Henry   54  Leadership

## Common SQL Functions

In [67]:
# Aggregates
cursor.execute('''SELECT COUNT(*), AVG(age) FROM employees
''')
print(cursor.fetchone())
cursor.execute('SELECT SUM(age) FROM employees')
print(cursor.fetchone())
cursor.execute('SELECT department, COUNT(*) FROM employees GROUP BY department')
print(cursor.fetchall())

# # Group By
# cursor.execute('''SELECT department, COUNT(*) 
# FROM employees 
# GROUP BY department
# ''')
# rows = cursor.fetchall()
# for row in rows:
#     print(row)

(7, 39.42857142857143)
(276,)
[('Athletics', 1), ('HR', 2), ('Leadership', 3), ('Software', 1)]

## Closing Connection

In [45]:
cursor.close()
conn.close()